body {
	font-size: 62.5%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

.banner {
	height: 125px;
	position: relative;
}


#authen_info {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

form input[type=text] {
	width: 75%;
}
